{% extends("base.j2.html") %}

{% block header %}
  <h1>{% block title %}Status{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if refresh > 0 %}
<script>
setTimeout(function(){
   window.location.reload(1);
}, {{ refresh }});
</script>
{% endif %}
  <h2>Status</h2>
  Current status: {{ test.status }}
  {% if test.error %}
<blockquote>
      {{ test.error }}
</blockquote>
  {% endif %}

<h2>Clients</h2>
  {% if test.client_list %}
  <table>
    <tr><th>UUID</th><th>Action</th><th>Registered</th><th>Last Polled</th><th>Last responded</th></tr>
    {% for client in test.client_list %}
    <tr>
       <td>{{ client.uuid }}</td>
       <td>{{ client.poll(update_last_polled=False)['action'] }}</td>
       <td>{{ client.registered | delaytime }}</td>
       <td>{{ client.last_polled | delaytime }}</td>
       <td>{{ client.last_responded | delaytime }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  Clients not allocated yet.
  {% endif %}

  <h2>Current context:</h2>
    <a href="{{ url_for("status.test_image", uuid = test.uuid) }}"><img src="{{ url_for("status.test_context_image", uuid = test.uuid) }}" id="test_context_image"></a>
  </table>
{% endblock %}
