{% extends("base.j2.html") %}

{% block content %}
<div>
    <table class="table">
    <thead class="thead-dark">
    <tr><th>Suite</th><th>Skipped</th><th>Success</th><th>Fail</th><th>Err</th></tr>
    </thead>
    <tbody>
    {% for testsuite in test_suites %}
    <tr><td class="w-100"><a href='{{ url_for("status.testsuite_status", uuid = testsuite.uuid) }}'>{{ testsuite.name() }}</a></td><td>{{ testsuite.skipped() }}</td><td>{{ testsuite.successes() }}</td><td>{{ testsuite.failures() }}</td><td>{{ testsuite.errors() }}</td></tr>
    {% endfor %}
    </tbody>
  </table>

</div>
<div>
  <table class="table">
    <thead class="thead-dark">
    <tr><th>UUID</th><th>State</th><th>Last Polled</th><th>data</th></tr>
    </thead>
    {% for client in clients %}
    <tr><td>{{ client.uuid }}</td><td>{% if client.model %}<a href='{{ url_for("status.testcase_status", uuid = client.model.uuid )}}'>{{ client.model.state }}</a>{% elif client.last_error %}Error: {{ client.last_error.details }}{% else %}Unallocated{% endif %}<td>{{ client.last_polled }}</td><td>{{ client.registration }}</td></tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
