{% extends("base.j2.html") %}
{% block content %}
{% if refresh > 0 %}
<script>
setTimeout(function(){
   window.location.reload(1);
}, {{ refresh }});

</script>
{% endif %}
<h3>{{ test.test.name() }}</h3>
<table class="table table-sm">
    <tbody>
    <tr>
        <td>Clients</td>
        <td>{% for (name, type) in test.client_types.items() %}{{ name }} ( {{ type }} ) {% endfor %}</td>
    </tr>
    <tr>
        <td>Server(s)</td>
        <td>{{ test.server_type }}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ test.state }}</td>
    </tr>
    {% if test.state == "error" or test.state == "failed" %}
    <tr>
        <td>Errors</td>
        <td>{% for exception in test.exceptions %}
            <pre>{{ exception }}</pre>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>

<h4>Adapters</h4>
{% if test.adapters %}
<table class="table table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>UUID</th>
        <th>Action</th>
        <th>Last Error</th>
        <th>Registered</th>
        <th>Last Polled</th>
        <th>Last responded</th>
    </tr>
    </thead>
    <tbody>
    {% for (client_name, adapter) in test.adapters.items() %}
    <tr>
        <td>{{ client_name }}</td>
        <td>{{ adapter.guid }}</td>
        <td>{{ adapter.poll(update_last_polled=False)['action'] }}</td>
        <td>{{ adapter.last_error }}</td>
        <td>{{ adapter.registered | delaytime }}</td>
        <td>{{ adapter.last_polled | delaytime }}</td>
        <td>{{ adapter.last_responded | delaytime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Files</h4>
<table class="table table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    {% for file_name in test.files.keys() %}
    <
    <tr>
        <td>{{ file_name }}</td>
        <td><a href="{{ url_for('status.test_file', guid = test.guid, name = file_name) }}">Download</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
No adapters have been allocated to this test case yet.
{% endif %}

{% endblock %}
